
.floating-plus {
  position: fixed;
  bottom: 80px;
  right: 80px;
}
.floating-icon {
  font-size: 3rem;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: block !important;
  color: var(--bs-primary);
  /* box-shadow: 0 0px 4px var(--bs-primary);  */
  /* Having Trouble adding drop down shadows to the i elements */
}

.border-blue {
  border-color: #052C65 !important;
}